$30/11/2024$

- List comprehension is a way to write the code line in a single line

- whenever we use for loops and if conditions the time will be increase

- list comprehension will able to write for loop and if condition in a single line

- which reduce the time to get the output

In [4]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [6]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Method-1: Only for loop**

In [ ]:
list1=[<code here>]
list1=[<output>][<for loop>]

In [17]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# Q1) l1=['hyd','chennai','mumbai','pune']
# ans=['Hyd','Chennai','Mumbai','Pune']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())
print(ans)

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [36]:
ans=[i.capitalize() for i in ['hyd','chennai','mumbai','pune']]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [3]:
#Q2) l1=['hyd','chennai','mumbai','pune']
# ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [5]:
l1=['hyd','chennai','mumbai','pune']
ans=[i.upper() for i in l1]
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [38]:
ans=[i.upper() for i in ['hyd','chennai','mumbai','pune']]
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [52]:
# Q3) l1=['hyd','chennai','mumbai','pune']
# ans=[0,10,20,30] multiply index with 10

l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(l1.index(i)*10)
ans

[0, 10, 20, 30]

In [54]:
ans=[l1.index(i)*10 for i in l1]
ans

[0, 10, 20, 30]

In [7]:
# Q4) l1=['hyd','chennai','mumbai','pune']
#     ans=[6] sum of the indexes
l1=['hyd','chennai','mumbai','pune']
summ=0
ans=[l1.index(i) for i in l1]
sum(ans)

6

In [60]:
summ=0
for i in l1:
    summ=summ+l1.index(i)
print(summ)

6

In [9]:
l1=['hyd','chennai','mumbai','pune']
summ=0
ans=[i for i in range(len(l1))]
ans

[0, 1, 2, 3]

**Method-2**

- for loop with if condition

In [13]:
#Q6) l1=['hyd','chen#ai','mu#bai','pune']
# ans=['chen#ai','mu#bai']

l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['chen#ai', 'mu#bai']

In [ ]:
[<output>][<for loop>]
[<output>][for loop>][<if condition>]

In [65]:
ans=[i if '#' in i for i in l1]
ans

SyntaxError: expected 'else' after 'if' expression (4048501588.py, line 1)

In [69]:
[i for i in l1 if '#' in i]

['chen#ai', 'mu#bai']

In [71]:
# <output><for loop><if condition>

In [77]:
# Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

In [75]:
l1=['hyd','chen#ai','mu#bai','pune']
ans=[i for i in l1 if '#' not in i]
ans

['hyd', 'pune']

In [15]:
# Q3) dont give if ans else
# write two answers both will use if only
# evenlist=[<write your code here>]
# oddlist=[<write your code here>]
# list1=[100,20,27,38,47,52,87]
# using this we need to extract even and odd numbers
# even_list=[20.38,52,100] the output should be sorted
# odd_list=[27,47,38,87] the output should be sorted

In [81]:
list1=[100,20,27,38,47,52,87]
even_list=[i for i in list1 if i%2==0]
odd_list=[i for i in list1 if i%2!=0]
even_list,odd_list

([100, 20, 38, 52], [27, 47, 87])

**Method-3: for loop - if -else**

In [ ]:
method-1:for loop[<output><for loop>]
method-2:for loop-if[<output><for loop><if condition>]
method-3:for loop-if-else[<if output><if condition>else<else output><for loop>]

In [94]:
list1=[100,20,27,38,47,52,87]
ans=['even' if i%2==0 else 'odd' for i in list1]
ans

['even', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [92]:
[f'even:{i}' if i%2==0 else f'odd:{i}'for i in list1]

['even:100', 'even:20', 'odd:27', 'even:38', 'odd:47', 'even:52', 'odd:87']

In [146]:
l1=[45,76,89,53,67,90,82,49,33,99]
# 1. filter the students who paases marks>=50
# 2. calculate grades of all students
#           A: 85+, B: 70-84, C: 50-69, D:<50
#           4 lists will come
# Add 5 grace marks to students who failed <50
# find the average marks of the class
ans1=[i for i in l1 if i>=50]
ans2=['A' if i>=85 else 'B' if i>=70 else 'C' if i>= 50 else 'D' for i in l1]
ans3=[i+5 for i in l1 if i<50]
ans4=[ i for i in range(len(l1))]
ans1, ans2, ans3, ans4

([76, 89, 53, 67, 90, 82, 99],
 ['D', 'B', 'A', 'C', 'C', 'A', 'B', 'D', 'D', 'A'],
 [50, 54, 38],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
**Method-4: for if elif else**

- there is no elif in list comprehension

- elif also we can write : else+if

- method-3: [<if output><if condition>else<else output>]

- method-4: [<if output><if condition>else<elif output><elif condition>else<else output><for loop>]

In [ ]:
method-1:for loop[<output><for loop>]
method-2:for loop-if[<output><for loop><if condition>]
method-3:for loop-if-else[<if output><if condition>else<else output><for loop>]
method-4:[<if output> <if cond> else <elif out> <elif con> else <else output> <for loop>]

In [152]:
summ=0
for i in l1:
    summ=summ+i
print(summ)
print('avg:',summ/len(l1))

683
avg: 68.3

**walrus operator**

- in list comprehension = will not work

- if you want to write equal to (=) then will use walrus operator:=

In [157]:
total=0
ans=[total:=total+i for i in l1]
total/len(ans)

68.3

## LAMBDA FUNCTION

In [5]:
def mul(a):
    return(a*a)
ans=mul(10)
ans

100

In [7]:
mul=lambda a: a*a
mul

In [9]:
mul=lambda a: a*a
mul(10)

100

In [11]:
def cube(x):
    return(x**3)
cube(10)

1000

In [13]:
cube=lambda  x:x**3
cube(10)

1000

In [17]:
def add(a,b):
    return(a+b)
add(100,200)

300

In [19]:
add1=lambda a,b:a+b
add1(100,200)

300

In [21]:
def avg(a,b,c):
    return(round((a+b+c)/3,2))
avg(10,22,33)

21.67

In [23]:
avg1=lambda a,b,c:round((a+b+c)/3,2)
avg1(10,22,33)

21.67

In [27]:
avg2=lambda a,b,c=500:round((a+b+c)/3,3)
avg2(22,33)

185.0

In [29]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [31]:
max1=lambda a,b :a if a>b else b
max1(10,20)

20

In [37]:
list1=['hyd','mumbai','pune']
# ans=['Hyd','Mumbai','Pune']
ans=[]
for i in list1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Pune']

In [41]:
lambda i:i.capitaalize()
lambda i:i.captalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [43]:
map(lambda i:i.capitaalize(),list1)

In [45]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [49]:
# l1=['hyd','chennai','mumbai','pune']
# ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
list(map(lambda i:i.upper(),l1))

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [51]:
# l1=['hyd','chennai','mumbai','pune']
#  ans=[0,10,20,30]
l1=['hyd','chennai','mumbai','pune']
list(map(lambda i:l1.index(i)*10,l1))

[0, 10, 20, 30]

In [53]:
# str1='hello hai how are you'
# ans=['Hello','Hai','How','Are','You']
str1='hello hai how are you'
ans=list(map(lambda i:i.title(),str1.split()))
ans

['Hello', 'Hai', 'How', 'Are', 'You']

In [55]:
# l1=['hyd','chen#ai','mu#bai','pune']
# ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans=list(map(lambda i:'#' in i,l1))
ans

[False, True, True, False]

In [57]:
ans=list(filter(lambda i:'#' in i,l1))
ans

['chen#ai', 'mu#bai']

In [59]:
ans=list(filter(lambda i: '#' not in i,l1))
ans

['hyd', 'pune']

In [61]:
l1=[1,2,3,4,5]
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

In [63]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

15

In [67]:
from functools import reduce
list1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,list1)

15

In [69]:
from functools import reduce
list1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,list1,20)

35

In [71]:
import functools as ft
list1=[1,22,3,4,5]
ft.reduce(lambda summ,i:summ+i,list1)

35

In [73]:
import functools
functools