In [4]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
# 'Ramesh age is 20'
# 'Suresh age is 30'
# 'sathish age is 40'
for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

$Zip$

In [7]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l3=['Hyd','Mumbai','Chennai']
for i,j,k in zip(l1,l2,l3):
    print(f"{i} has age is {j} and he is from {k}")

Ramesh has age is 20 and he is from Hyd
Suresh has age is 30 and he is from Mumbai
Sathish has age is 40 and he is from Chennai

**Dictionary**

- string represent in quotes

- list represent in square brackets

- tuple represent in parenthesis

- sets represent in curly braces with only one value

- Dictionary also represent in curly braces wwith two value

- Dictionary has key:value pair

- Dictionary eelements are in pair

     - one element called as **key**

     - another element called as **value**

In [ ]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]

{key:value}
{key1:value1,key2:value2,key3:value3}

In [10]:
dict1={'Ramesh':20,'Suresh':30,'Sathish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [14]:
type(dict1)

dict

- initialization

- inbuilt functions

    - max
    - min
    - len
    - sum
    - sorted
    - reversed

- index

- mutable vs immutable

- concatination

- slicing

- methods

**initialization**

In [33]:
dict1={'Ramesh':20,'Suresh':30,'Sathish':40}
dict2={20:'Ramesh',30:'Suresh',40:'Sathish'}
dict3={'Apple':'20','Banana':'30','Cherry':'30'}
#dict4={[20]:'Apple',[30]:'Banana',[40]:'Cherry'}
dict5={'Apple':[20],'Banana':[30],'Cherry':[40]}
dict3
# key int value string
# key string value list vice versa
# key list value

{'Apple': '20', 'Banana': '30', 'Cherry': '30'}

In [37]:
d4={'Ramesh':30,'Ramesh':30}
d4
# Keys are important
# when same keys but different value
# it will take latest value

{'Ramesh': 30}

In [39]:
d5={'Ramesh':20,'Suresh':20}
d5

{'Ramesh': 20, 'Suresh': 20}

In [41]:
d6={'Ramesh':20,'Ramesh':20}
d6
# Duplication not allowed

{'Ramesh': 20}

In [43]:
d7={'Fruit':'Apple','cost':10.5,'count':100,'ava':True}
d7

{'Fruit': 'Apple', 'cost': 10.5, 'count': 100, 'ava': True}

In [45]:
d8={True:'Yes'}
d8

{True: 'Yes'}

In [50]:
d9={'age':[10,20,30]}
d9
# list can be value

{'age': [10, 20, 30]}

- list is mutable

- tuple is immutable

- so list can not be a key

**keys are important**

In [53]:
d13={(10,20,30):('A','B','C')}
d13

{(10, 20, 30): ('A', 'B', 'C')}

In [2]:
d14={(10,20,30):['A','B','C']}
d14

{(10, 20, 30): ['A', 'B', 'C']}

In [6]:
d15={[10,20,30]:('A','B','C')}
d15

TypeError: unhashable type: 'list'

In [8]:
d16={'fruits':{'apple':50}}
d16

{'fruits': {'apple': 50}}

In [10]:
d17={{'apple':50}:'Fruits'}
d17

TypeError: unhashable type: 'dict'

In [55]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}

In [57]:
max(d1),min(d1),len(d1)

('Suresh', 'Ramesh', 3)

In [63]:
sorted(d1)

['Ramesh', 'Sathish', 'Suresh']

In [65]:
reversed(d1)

In [67]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [135]:
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}

In [97]:
max(d2),min(d2),len(d2)

('Suresh', 'Ramesh', 3)

In [99]:
sorted(d2)

['Ramesh', 'Sathish', 'Suresh']

In [137]:
list(reversed(d2))

['Sathish', 'Suresh', 'Ramesh']

In [103]:
sum(d2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [105]:
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}

In [113]:
max(d3),min(d3),len(d3)

(40, 20, 3)

In [115]:
sorted(d3)

[20, 30, 40]

In [117]:
reversed(d3)

In [119]:
sum(d3)

90

In [121]:
d4={'Ramesh':'20','Suresh':30,40:'Sathish'}

In [123]:
max(d4),min(d4),len(d4)

TypeError: '>' not supported between instances of 'int' and 'str'

In [127]:
sorted(d4)

TypeError: '<' not supported between instances of 'int' and 'str'

In [129]:
reversed(d4)

In [131]:
sum(d4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- max/min can work for homogeneos

- sum is only work for numbers only

- reversed can work for any one

**index**

In [144]:
l=[10,20,30]
l[0]

10

In [146]:
s='pyhton'
s[0]

'p'

In [148]:
d1={'Ramesh':20,'Suresh':30}
d1[0]

KeyError: 0

In [150]:
d1['Ramesh']

20

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1['Ramesh']  # 20
d1['Suresh']  # 30
d1['Sathish'] # 40

In [152]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
for i in d1:
    print(i,d1[i])
    print(f'{i} has age: {d1[i]}')

Ramesh 20
Ramesh has age: 20
Suresh 30
Suresh has age: 30
Sathish 40
Sathish has age: 40

- whenever we iterate dictionary using for loop in operator it will give keys

- if want to get value we will access through keys only

- keys will work as index

In [163]:
d1={'Fruits':['Apple','Banana','Cherry']}
d1['Fruits'][2]

'Cherry'

In [171]:
d1={'Fruits':{'Apple':['Sweet','Green','custred']}}
d1['Fruits']['Apple'][1]

'Green'

In [179]:
d1={'Fruits':[{'Cost':[100,200,300]}]}
d1

{'Fruits': [{'Cost': [100, 200, 300]}]}

In [181]:
d1['Fruits'][0]['Cost'][2]

300

In [183]:
d1={'Fruits':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1

{'Fruits': ['Apple'], 'Cost': [{'1kg': [300, 500], '2kg': ['None']}]}

In [203]:
d1['Cost'][0]['2kg'][0]

'None'

In [235]:
d1={'Fruits':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruits']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [241]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

**how to connvert list to dictionary**

In [2]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
# {'Ramesh':20,'Suresh':30,'Sathish':40}

dict1={}
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 30
Sathish 40

In [6]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1['Sathish']=40
dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [8]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

**how to convert dictionary to list**

In [11]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
for i in d:
    print(f'{i} age is {d[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

In [ ]:
# string to list (split)
# list to string (join)
# list to dictionary()
# dictionary to list()

In [21]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['Ramesh', 'Suresh', 'Sathish'], [20, 30, 40])

In [29]:
keys=[key for key in d]
values=[d[key] for key in d]
keys,values

(['Ramesh', 'Suresh', 'Sathish'], [20, 30, 40])

**dictionary comprehension**

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]

{key:value for key,value in zip(names,age)}

In [39]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [42]:
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

**mutable - immutable**

- list are mutable

- strings are immutable

- tuple immutable

- dictionary also mutable we can modify the value of a dictionary

In [59]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d['Ramesh']=40
d

{'Ramesh': 40, 'Suresh': 30, 'Sathish': 40}

- dictionary is similar to database operations

- keys always unique but values can be change

**concatination**

In [49]:
d1={'Ramesh':20}
d2={'Fruit':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [61]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)])

In [63]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.values()

dict_values([20, 30, 40])

In [65]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [73]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=d.keys()
type(keys),keys

(dict_keys, dict_keys(['Ramesh', 'Suresh', 'Sathish']))

In [69]:
len(keys)

3

In [71]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

- dict_keys is a type of keys represented in a list

- it is looks like list but not list

- we can not use list methods here

- for that we need to convert dict_keys to list

In [84]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=d.keys() # dict_keys type

In [96]:
list(d.keys()) # list type
# list(keys)

['Ramesh', 'Suresh', 'Sathish']

In [99]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
values=d.values() # dict_keys type

In [101]:
list(values)

[20, 30, 40]

In [103]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
items=d.items() # dict_keys type

In [105]:
list(items)

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [ ]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[keys])
keys,values
#################################################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=[keys for key in d]
values=[d[key] for keey in d]
#################################################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=list(d.keys())
values=list(d.values())

In [115]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'sathish': '40'}

**get**

In [128]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.get('Ramesh')

20

In [130]:
d.get('Ram')

In [134]:
d['Ramesh'] # normal way
d['Ram'] # error

KeyError: 'Ram'

In [ ]:
################### methods ##################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.get('Ramesh') # aans
d.get('r')      # no error-no ans
################## without methods ###########
d['Ramesh']   # normal way
d['r']        # error

**update**

In [139]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d1={'Fruits':'Apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Fruits': 'Apple'}

In [149]:
d.update(Apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Fruits': 'Apple', 'Apple': 200}

In [155]:
t=(200,'Marks')
l=[t]
d.update(l)
d

{'Ramesh': 20,
 'Suresh': 30,
 'Sathish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'Marks'}

In [163]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d1={'Fruits':'Apple'}
d.update(d1)
d.update(Apple=200)
d.update([(200,'Marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Sathish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'Marks'}

**pop-pop item**

In [171]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.pop('Ramesh')

20

In [173]:
d

{'Suresh': 30, 'Sathish': 40}

In [175]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.pop('r')

KeyError: 'r'

In [177]:
l=[100,200,3333,444]
l.pop(2) # index

d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.pop('Ramesh') # key

3333

In [181]:
l=[100,200,3333,444]
l.remove(3333)

In [183]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.popitem()

('Sathish', 40)

In [185]:
d

{'Ramesh': 20, 'Suresh': 30}

- pop will expect a key , corresponding value will be removed

    - pop will return the **value which is removing**

- pop item has no arguments, last key-value pair will be removed

    - pop item return last **key-value pair**

**del**

In [191]:
l=[100,200,333,444]
del l[0]
l

[200, 333, 444]

In [195]:
l=[100,200,333,444]
del l # l is gone here
l

NameError: name 'l' is not defined

In [207]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
del d['Ramesh']
del(d['Suresh'])
d

{'Sathish': 40}

In [205]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
del(d)
d

NameError: name 'd' is not defined